.main section .circle-section{
	position: absolute;
	bottom: 36px;
	left: 49%;
}

.main section.section-home{
	background: url('../../img/img-top.jpg') no-repeat left 10%;
	background-size: cover;
}

section.section-home .logo{
	text-align: center;
	max-width: 144px;
	position: absolute;
	left: 40%;
}

section.section-home .container-inner{ max-width: 739px; }

/* Section LifeStyle */

.main section.section-lifestyle{
	background: url('../../img/img-mid.jpg') no-repeat left 10%;
	background-size: cover;
}

.main section.section-experience{
	background: url('../../img/img-mid2.jpg') no-repeat left 10%;
	background-size: cover;
}

.main section.section-youhere{
	background: url('../../img/img-bot.jpg') no-repeat left 10%;
	background-size: cover;
}

